.App {
  text-align: center;
}

img {
  height: 50%;
  width: 50%;
  box-shadow: 0 0 8px 3px;
}

.App-body {
  background-color: #98ded9;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-left: 10%;
  margin-right: 10%;
}
.App-footer {
  background-color: #161d6f;
  color: wheat;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}
.App-header {
  background-color: #c7ffd8;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  margin-left: 20%;
  margin-right: 20%;
}

.App-link {
  color: #61dafb;
}
